<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37606563236-1n92q83ejccp9bv00o0qf9g5ssvbgjrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37606563236-1n92q83ejccp9bv00o0qf9g5ssvbgjrn</string>
	<key>API_KEY</key>
	<string>AIzaSyDX2uyAb4Vn1wG4jPpZWLEkDO51jZgtm0k</string>
	<key>GCM_SENDER_ID</key>
	<string>37606563236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieflix</string>
	<key>PROJECT_ID</key>
	<string>movieflix-dc21d</string>
	<key>STORAGE_BUCKET</key>
	<string>movieflix-dc21d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37606563236:ios:25e1e918c597c1c91bf531</string>
</dict>
</plist>